{% extends "parent.html" %}
{% from 'partials/BasketCard.html' import BasketCard %}
{% from 'partials/ProductCard.html' import ProductCard %}

{%
  set basketCardList = [
  {
    title: 'Блокнот Теория относительности и коты, серая, S',
    href: '#',
    image: './images/basket-1.jpg',
    currentPrice: '10 350',
    pastPrice: '10 550',
    discount: '-20'
  },
  {
    title: 'Плакат Воздушный шар',
    href: '#',
    image: './images/basket-2.jpg',
    currentPrice: '10 350',
    pastPrice: '',
    discount: '',
    isActive: 'is-active'
  },
  {
    title: 'Блокнот TOP SECRET, A5',
    href: '#',
    image: './images/basket-3.jpg',
    currentPrice: '10 350',
    pastPrice: '',
    discount: ''
  },
  {
    title: 'Услуга подарочной упаковки',
    href: '#',
    image: './images/basket-4.jpg',
    currentPrice: '10 350',
    pastPrice: '',
    discount: ''
  }
] %}

{%
  set usefulCardList = [
  {
    title: 'Услуги дизайнера',
    href: '#',
    image: './images/product-1.jpg',
    currentPrice: '600'
  },
  {
    title: 'Услуга подарочной упаковки',
    href: '#',
    image: './images/product-2.jpg',
    currentPrice: '650'
  },
  {
    title: 'Услуга подарочной упаковки',
    href: '#',
    image: './images/product-3.jpg',
    currentPrice: '650'
  }
] %}

{% block content %}
  <section class="Basket">
    <div class="SectionHeader">
      <div class="SectionHeader-Inner">
        <h1 class="SectionHeader-Title Title">Моя корзина</h1>
        <div class="SectionHeader-Info">ID корзины: 357253</div>
      </div>
    </div>
    <div class="Basket-Main">
      <div class="Basket-Inner">
        <section class="Basket-Content">
          <h2 class="VisuallyHidden">Список ваших товаров</h2>
          <div style="display:none;">
            <svg xmlns="http://www.w3.org/2000/svg">
              <symbol id="heart" viewBox="0 0 25 22"><path d="M11.314 3.964l.886 1.691.886-1.691C14.026 2.17 15.798 1 17.9 1c3.002 0 5.513 2.51 5.7 5.727a5.497 5.497 0 01-.674 2.587l-.126.227v.039a8.51 8.51 0 01-.3.42l-.017.022-.015.023c-.135.203-.36.434-.575.648l-.028.028-.026.03c-1.421 1.667-3.97 4.29-6.186 6.519A397.06 397.06 0 0112.3 20.6a441.434 441.434 0 01-3.353-3.331C6.73 15.042 4.182 12.418 2.76 10.75l-.026-.03-.028-.028c-.307-.307-.438-.442-.575-.648l-.015-.023L2.1 10a8.51 8.51 0 01-.3-.42v-.04l-.126-.226A5.496 5.496 0 011 6.7C1 3.522 3.482 1 6.5 1c2.102 0 3.874 1.17 4.814 2.964z"/></symbol>
              <symbol id="crose" viewBox="0 0 17 17"><path d="M0 15.607L15.607 0 17 1.394 1.394 17.001z"/><path d="M15.606 17L0 1.393 1.393 0 17 15.606z"/></symbol>
            </svg>
          </div>
          <div class="Basket-ListCard">
            {% for item in basketCardList %}
              {{ BasketCard('Basket-Card', item.title, item.href, item.image, item.currentPrice, item.pastPrice, item.discount, item.isActive) }}
            {% endfor %}
          </div>
        </section>
        <section class="Basket-Order Order">
          <h2 class="VisuallyHidden">Ваш заказ</h2>
          <div class="Order-Card">
            <form id="basket" class="Basket-Holder" action="/">
              <table class="Order-Table">
                <tr class="Order-Row">
                  <th class="Order-Cell" scope="row">Товары <span class="Order-Quantity">(3)</span></th>
                  <td class="Order-Cell">12 800 <span class="Rouble">₽</span></td>
                </tr>
                <tr class="Order-Row">
                  <th class="Order-Cell" scope="row">Скидка</th>
                  <td class="Order-Cell"><span class="Order-Discount">-300 <span class="Rouble">₽</span></span></td>
                </tr>
                <tr class="Order-Row Order-Row_promocode">
                  <td class="Order-Cell" colspan="2">
                    <div class="Promocode">
                      <div class="Promocode-Title">
                        <label class="Promocode-Label Link" for="#promocode" tabindex="0">У меня есть код для скидки</label>
                        <div class="Promocode-Tooltip Tooltip Tooltip_question">
                          <div class="Tooltip-Title" aria-hidden="true" tabindex="0">?</div>
                          <div class="Tooltip-Panel">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur voluptate sunt voluptatem ad consequatur, fugiat quas praesentium magni ducimus blanditiis.
                          </div>
                        </div>
                      </div>
                      <input class="Promocode-TextField TextField" id="promocode" type="text" name="promocode">
                    </div>
                  </td>
                </tr>
                <tr class="Order-Row Order-Row_total">
                  <th class="Order-Cell" scope="row">Итого</th>
                  <td class="Order-Cell"><span class="Order-Discount">12 800 <span class="Rouble">₽</span></span></td>
                </tr>
              </table>
              <button class="Order-Submit Btn Btn_large" type="submit">Оформить заказ</button>
            </form>
          </div>
          <p class="Order-Footnote">Доступные способы и время доставки можно выбрать при оформлении заказа.</p>
        </section>
      </div>
    </div>
  </section>
  <section class="UsefulProducts">
    <div class="SectionHeader">
      <div class="SectionHeader-Inner">
        <h2 class="SectionHeader-Title Title_lvl-2">Вам также может пригодиться</h2>
      </div>
    </div>
    <div class="UsefulProducts-Inner">
      <div class="glider-contain j-userful-products-slider">
        <div class="UsefulProducts-List glider">
          {% for item in usefulCardList %}
            <div class="UsefulProducts-Item">
              {{ ProductCard('', item.title, item.href, item.image, item.currentPrice) }}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}
